@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*root{
    --fonte-bebas: 'Bebas Neue';
}

*{
    font-family: var(--fonte-bebas);
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to bottom, rgba(66, 63, 63, 0.835), rgba(184, 178, 178, 0.267));
    height: 150px;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    
}
header > h1{
    padding-top: 15px;
    color: #1A1A1A;
    margin: 0;
}
nav{
    border: 2px solid rgba(0, 0, 0, 0.678);
    text-align: center;
    margin: 0;
}
.link{
    max-width: 400px;
    margin: auto;
}
.menu{
    height: 100%;
    width: 100%;
    background-color: rgba(184, 178, 178, 0.267);
}
aside{
    padding-top: 10px;
    padding-bottom: 10px;
}
.buscar{
    width: 165px;
}

nav > input{
    float: right;
    
}
main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(66, 63, 63, 0.835), rgba(184, 178, 178, 0.267));
    margin: 0;
}
section{
    
    width: 80%;
    height: 80%;
    margin: auto;
    
    border-radius: 5px;
}
section > h2{
    padding: 25px;
    font-size: 2em;
}
a{
    padding: 5px;
    color: black;
    text-decoration: none;
}

.banner{
    width: 180px;
    height: 240px;
    padding: 10px;
    columns: 4;
}
